﻿@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>


<p>
Virtual Global College-VGC  was created on the 25 January 2016.
We have  three branches : one in Dublin, one in Cork and the other one in limerrick.
Gloval Virtual College is a dynamic young college that has 3 will be soon extending its services globally.
You are more than welcome to visit us

</p>

