﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    5 Church Avenue<br />
    Rathmines,<br> 
    Dublin 6<br />
    <abbr title="Phone">Phone number:</abbr>
    01.406. 2345
</address>

<address>
    <strong>Registration:</strong>   <a href="mailto:Support@example.com">VCG@registration.ie</a><br />
    <strong>General query:</strong> <a href="mailto:Marketing@example.com">VGC@queries.ie</a>
</address>