﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Global Virtual College</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Global Virtual College</h2>
        <p>
            We welcome all of our student to Virtual Global College. We belive with virtualization anything become possible.
            In this college you can find several courses that will contribute to your education and opnes doors of opportunities for our students
        </p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Register your interest Virtual Gloabl College.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Log in</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Get access to your existing student account.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Log in</a></p>
    </div>
    </div>







   