﻿@model IEnumerable<VirtualGlobalCollege.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses Listing</h2>

<p>
    The courses below are available at Virtual Global College.In order to enrol, please cilck on pay with card for the corresponding course
</p>

     @using (Html.BeginForm())
     {
    <p>
        Title: @Html.TextBox("SearchName") <br />
        <input type="submit" value="Filter" />
    </p>
     }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        
        <td>
            <form action="/your-charge-code" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_wUvL649Tgdx5obP5GkZsv2Ub"
                        data-amount=@item.cost
                        data-name=@item.title
                        data-description=@item.credits
                        data-image="/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>



        </td>


    </tr>
}

</table>
