﻿@model IEnumerable<VirtualGlobalCollege.Models.StockBook>

@{
    ViewBag.Title = "Index";
}

<h2>Books Listing</h2>

<p>
    Click on pay with card button for the book of your choice.Should you have any accademic book, your ar looking for, you may click on the link below to register your need.
</p><br />

<p>
    @Html.ActionLink("Reisgter your need", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("SearchName") <br />
        <input type="submit" value="Filter" />
    </p>
    }


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            <form action="/your-charge-code" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_wUvL649Tgdx5obP5GkZsv2Ub"
                        data-amount=@item.cost
                        data-name=@item.title
                        data-description="Buying"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>



        </td>


    </tr>
}

</table>
